<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Retwis - Example Twitter clone based on the Redis Key-Value DB</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
    <div id="header">
        <a href="/"><img style="border:none" src="../static/image/logo.png" width="192" height="85" alt="Retwis"></a>
        <div id="navbar">
            <a href="index.html">主页</a>
            | <a href="timeline.html">热点</a>
            | <a href="logout.html">退出</a>
        </div>
    </div>
    <h2>热点</h2>
    <i>最新注册用户(redis中的sort用法)</i><br>
    <div th:each="user:${newestUsers}"><a class="username" th:href="@{/profile.html(u=${user.id})}">[[${user.username}]]</a></div>

    <br><i>最新的20条微博!</i><br>
    <div class="post" th:each="postMsg:${newestPosts}">
        <a class="username" th:href="@{/profile.html(u=${postMsg.user.id})}">[[${postMsg.user.username}]]</a>
        [[${postMsg.content}]]<br>
        <i>[[${postMsg.createTime}]] 通过 web发布</i>
    </div>

    <!--<div class="post">
        <a class="username" href="profile.html?u=4">test</a>
        hello<br>
        <i>22 分钟前 通过 web发布</i>
    </div>-->

    <div id="footer">redis版本的仿微博项目 <a href="http://redis.io">Redis key-value database</a></div>
</div>
</body>
</html>
